.ProfileStatus p {
  user-select: none; /* Disable text selection while double clicking */
}

.ProfileStatus:hover {
	background-color: rgb(204, 200, 200);
}

.ProfileStatus input {
	margin: 10px;
	font-size: 16px;
}