.ProfileStatus p {
	user-select: none; /* Disable text selection while double clicking */
}

.ProfileStatus:hover {
	background-color: rgb(204, 200, 200);
}

.ProfileStatus input {
	position: absolute;
	left: 0;
	margin: 10px;
	font-size: 16px;
}
