.Users {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.User {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Users img {
	height: 80px;
	width: 80px;
	border-radius: 80px;
}

.selectedPage {
	font-weight: bold;
}

.PageNumbers {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}