.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  /* grid-gap: 10px; */
  grid-template-areas: 
  'h h' 
  'n m';
  width: 1200px;
  margin: 0 auto;
}

.header {
  grid-area: h;
  background-color: green;
}

.nav {
  grid-area: n;
  background-color: aqua;
}

.main {
  grid-area: m;
  background-color: red;
}

.header img {
  width: 20px;
}

.main img {
  width: 100%;
}