.DialogsPage {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100%;
}

.Dialogs {
	background-color: aqua;
}

.Messages {
	background-color: palegoldenrod;
}

.addMessage {
	display: flex;
}

.addMessage textarea {
	width: 100%;
}
